@model HomeBudget.WebApplication.Models.RevenueWithCategoryViewModel
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_CategoryList", Model.Categories)
    </div>
    <div class="col-md-9">
        <h5 class="my-3">
            <a class="btn btn-success btn-lg" href="@Url.Action("Add","Expenses", new { categoryId = ViewBag.CategoryId })">Dodaj</a>
        </h5>
        <table class="table margin-top20">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Revenues.FirstOrDefault().Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Revenues.FirstOrDefault().Price)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Revenues.FirstOrDefault().CategoryName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Revenues.FirstOrDefault().TimeEvent)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Revenues.FirstOrDefault().CreateDateTimeDatabase)</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Revenues.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Revenues[i].Name</td>
                        <td>
                            @Model.Revenues[i].Price
                            <span> zł</span>
                        </td>
                        <td>@Model.Revenues[i].CategoryName</td>
                        <td>@Model.Revenues[i].TimeEvent</td>
                        <td>@Model.Revenues[i].CreateDateTimeDatabase</td>
                        <td>
                            @using (Html.BeginForm("Edit", "Expenses", new { id = @Model.Revenues[i].Id }, FormMethod.Get, new { @class = "" }))
                            {
                                <input type="submit" value="Edytuj" class="btn btn-default" />
                            }
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Expenses", new { id = @Model.Revenues[i].Id }, FormMethod.Post, new { @class = "" }))
                            {
                                <input type="submit" value="Usuń" class="btn btn-danger" />
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        @if (Model.Revenues.Count() != 0)
        {
            <div class="col-md-12">
                <div class="form-group financeSum">
                    <label class="control-label">Łączny wydatek: </label>
                    <label class="text-danger">@Model.Revenues.Select(x => x.Price).Sum() zł</label>
                </div>
            </div>
        }
    </div>
</div>